/*-------------------------*/
* {
  vertical-align: top; }

.wrapper#freakylan {
  background-color: #4C8A6B; }

header.section {
  background-color: #E4C76B; }

.section {
  width: 100%;
  background-color: #4C8A6B; }

.title_box {
  padding: 50px 0px; }
  .title_box .title {
    min-width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-bottom: 2px solid #E4C76B;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    border-radius: 30px;
    color: #E4C76B; }

.works {
  width: 100%;
  font-size: 0;
  padding: 100px 0px; }
  .works .workbox {
    display: inline-block;
    width: calc((100% - 240px) / 4);
    max-width: 250px;
    margin: 30px;
    cursor: pointer;
    background-color: #E4C76B;
    border-radius: 5px; }
    .works .workbox:hover .work_pic:after {
      content: "ccccc";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(228, 199, 107, 0.6); }
  .works .work_pic {
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    position: relative;
    overflow: hidden; }
    .works .work_pic img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%; }
  .works .work_name {
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 20px 10px;
    color: #4C8A6B;
    line-height: 30px;
    letter-spacing: 1px; }

@media (max-width: 992px) {
  .works .workbox {
    width: calc((100% - 180px) / 3); } }

@media (max-width: 768px) {
  .works .workbox {
    width: calc((100% - 120px) / 2); } }

@media (max-width: 480px) {
  .works .workbox {
    width: calc(100%);
    margin: 40px 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); } }
