<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title freakylan
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/layout.css")
    link(rel="stylesheet", href="../css/freakylan.css")
body
    .wrapper#element
        .section
            .container
                .title_box
                    .title 小元件，大集合
            .works
                    .container
                        .workbox(v-for="e in element_datas ")
                            .work_pic
                                img(:src="e.img", alt="")
                            .work_name {{e.name}}


    script(src="../js/jquery.js")
    script(src="../js/vue.js")
    script(src="../js/element.js")



