<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="../css/layout.css")
    link(rel="stylesheet", href="../css/pappa.css")
body
    .wrapper#pappa
        .section
            .container
                .title_box
                    .title PAPPA

                .works.row
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/1.png", alt="")
                        .wrok_descriptrion Logo
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/3.png", alt="")
                        .wrok_descriptrion 無框畫
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/2.png", alt="")
                        .wrok_descriptrion 無框畫
                .works.row
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/4.png", alt="")
                        .wrok_descriptrion 裁縫機-互動裝置
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/5.png", alt="")
                        .wrok_descriptrion 製造廠-互動裝置
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/6.png", alt="")
                        .wrok_descriptrion 製造廠-互動裝置
                .works.row
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/7.png", alt="")
                        .wrok_descriptrion 廁所logo-木作裝置藝術
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/8.png", alt="")
                        .wrok_descriptrion DIY-工業燈管
                    .wrok_box.col-sm-4
                        .work_pic
                            img.image(src="../image/pappa/9.png", alt="")
                        .wrok_descriptrion 編織廁所標誌




    script(src="../js/jquery.js")
    script(src="../js/vue.js")
